<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MassasrelliLabelPrinterLNQ.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <startup useLegacyV2RuntimeActivationPolicy="true"/>
  </startup>
    <connectionStrings>
        <add name="MassasrelliLabelPrinterLNQ.My.MySettings.MassDATA_TCHPServerConnectionString"
            connectionString="Data Source=TCHPSERVER;Initial Catalog=DATA;Persist Security Info=True;User ID=sa;Password=230South5th"
            providerName="System.Data.SqlClient" />
        <add name="MassasrelliLabelPrinterLNQ.My.MySettings.MassDATAx64Connection"
            connectionString="Data Source=192.168.5.17;Initial Catalog=DATA;Persist Security Info=True;User ID=sa;Password=STMARTIN" />
        <add name="MassasrelliLabelPrinterLNQ.My.MySettings.MassDATA_TC_2008R2"
            connectionString="Data Source=TCHPSERVER\SQL2008R2;Initial Catalog=DATA;Persist Security Info=True;User ID=sa;Password=230South5th"
            providerName="System.Data.SqlClient" />
        <add name="MassasrelliLabelPrinterLNQ.My.MySettings.MassDATAConnection"
            connectionString="Data Source=MASS_SQL2;Initial Catalog=DATA;Persist Security Info=True;User ID=sa;Password=STMARTIN" />
        <add name="MassasrelliLabelPrinterLNQ.My.MySettings.DATAConnectionString"
            connectionString="Data Source=TCHPSERVER;Initial Catalog=DATA;Persist Security Info=True;User ID=SA;Password=230South5th"
            providerName="System.Data.SqlClient" />
        <add name="MassasrelliLabelPrinterLNQ.My.MySettings.MassDATA_TCOPTIPLEX"
            connectionString="Data Source=TC-OPTIPLEX\SQL2008R2;Initial Catalog=DATA;Persist Security Info=True;User ID=sa;Password=230South5th"
            providerName="System.Data.SqlClient" />
        <add name="MassasrelliLabelPrinterLNQ.My.MySettings.DATAConnectionString1"
            connectionString="Data Source=MASS_SQL2;Initial Catalog=DATA;Persist Security Info=True;User ID=sa;Password=STMARTIN"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    
    <applicationSettings>
        <MassasrelliLabelPrinterLNQ.My.MySettings>
            <setting name="DefaultDB" serializeAs="String">
                <value>DATA</value>
            </setting>
            <setting name="DefaultSERVER" serializeAs="String">
                <value>MASS-SQL1</value>
            </setting>
            <setting name="MyVal" serializeAs="String">
                <value />
            </setting>
        </MassasrelliLabelPrinterLNQ.My.MySettings>
    </applicationSettings>
</configuration>
